.atualiza-produto-page {
     background-image: url('/public/imagens/fundo.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     min-height: 100vh; 
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column; 
}

